body {
  background-color: rgba(106, 176, 237, 0.176);
  font-family: "Montserrat", "Source Code Pro", serif;
}
.weatherApp {
  max-width: 600px;
  background-color: white;
  border-radius: 20px;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(43, 97, 145, 0.153);
}
.headerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid rgba(36, 35, 36, 0.122);
}
.headerGrid div {
  text-align: center;
}
h1 div {
  font-size: medium;
  color: rgba(36, 35, 36, 0.622);
}

.searchBar {
  max-width: fit-content;
  padding: 10px;
  background-color: rgba(106, 176, 237, 0.176);
  border: none;
  border-radius: 7px;
}
.searchButton {
  padding: 10px;
  background-color: rgb(65, 149, 223);
  border: none;
  border-radius: 7px;
}
.searchButton:hover {
  cursor: pointer;
}
.weatherIcon {
  font-size: 40px;
}
.currentDayData {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.currentDayData div {
  color: rgba(36, 35, 36, 0.622);
  text-align: center;
  margin: 1px;
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(106, 176, 237, 0.176);
}
.next5DaysForecast ul {
  border-top: 1px solid rgba(36, 35, 36, 0.122);
  padding-top: 20px;
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.next5DaysForecast ul li {
  color: rgba(36, 35, 36, 0.622);
  margin: 5px;
  padding: 10px;
  background-color: rgba(106, 176, 237, 0.176);
  text-align: center;
  border-radius: 4px;
}
.next5DaysForecast ul li:hover {
  transform: scale(110%);
}
footer {
  font-size: 14px;
  text-align: center;
  color: rgba(36, 35, 36, 0.622);
}
footer a {
  color: rgb(65, 149, 223);
  text-decoration: none;
}
